<div th:fragment="menu" class="WideStyles-header NarrowStyles-header Styles-header"
     xmlns:th="http://www.w3.org/1999/xhtml">
	<div class=" NarrowStyles-headerContent WideStyles-headerContent">
		<h2 style="padding: 30px 30px;margin: 0px;">
			<a class=" Styles-subtleLink NarrowStyles-flexFont" style="color: white;" th:href="@{/}" href="index.html">LiaoYb Blog</a>
		</h2>
		<div class=" Styles-headerLinkBox NarrowStyles-linkFlex" >
			<div style="display: flex;flex-direction: row;">
				<div class=" Styles-headerLink">
					<a href="about.html" th:href="@{/about}" class=" Styles-subtleLink" style="color: white;">
						<div>
							<div><i class="fa fa-question-circle"></i></div>
							About
						</div>
					</a>
				</div>
				<div class=" Styles-headerLink">
					<a href="https://onlyyc.github.io/Resume/" class=" Styles-subtleLink" style="color: white;">
						<div>
							<div><i class="fa fa-file-text"></i></div>
							Resume
						</div>
					</a>
				</div>
				<div class=" Styles-headerLink">
					<a href="https://github.com/OnlyYC" class="Styles-subtleLink" style="color: white;">
						<div>
							<div><i class="fa fa-github"></i></div>
							Github
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
